/kafka-key.pem
/etl/__pycache__
/workspace.code-workspace
/spark_transform/test.ipynb
/raw_data
/config/aws_key.yaml
/deproject-427912-aeca8c315271.json
/firstkey.pem
/gcs-connector-hadoop2-2.2.2-shaded.jar